* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
img, video {
    vertical-align: top;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color : #121212;
}
.wrap {
    width: 100%;
    min-width: 320px;
    margin : 0 auto;
}
.header {
    height: 64px;
}
.headerin {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    margin-top: 5px;
    margin-left: 18px;
    width: 120px;
}
.header .logo .logo_pc {
    display: none;
}
.header .logo a img{
    width: 100%;
    height: auto;
}
.header .pc_gnb {
    display: none;
}
.header .pc_utill {
    display : none;
}
.header .open_menu {
    width: 24px;
    margin-right: 18px;
}
.header .open_menu a img{
    width: 100%;
    height: auto;
    
}
.subBg {
    display: none;
    position: absolute;
    z-index: 100;
    top: 90px;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: rgb(254, 254, 254);
}
#container img {
    width: 100%;
    height: auto;
    max-height : 1000px;
}
.guideline {
    display: none;
}
.section1,
.section2,
.section3,
.section4 {
    width: 100%;
    height: auto;
    position: relative;
    background-size: cover;
    background-position: center;
}
.section1 {
    background-image: url("../story_img/beverage_pc.jpg");
}
.section2 {
    background-image: url("../story_img/dessert_pc2.jpg");
}
.section3 {
    background-image: url("../story_img/goods_pc.jpg");
}
.section4 {
    background-image: url("../story_img/cake_pc2.jpg");
}
.section img {
    position: block;
}
.band_bn_pc {
    display: none;
}
.text_group {
    position: absolute;
    z-index: 1;
    text-align: center;
    padding : 40px 0;
    top : 0;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
}
h2 {
    font-size: 22px;
    color : #fff;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 8%;
}
.black {
    font-size: 22px;
    color : #222;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 8%;
}
.text {
    color : rgba(255,255,255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 12%;
}
.text2 {
    color : rgba(0,0,0, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 12%;
}
.btn_detail a{
    display: inline-block;
    padding : 1.7% 8%;
    border : 2px solid #fff;
    border-radius: 5px;
    color : #fff;
    font-size: 15px;
}
.btn_detail2 a{
    display: inline-block;
    padding : 1.7% 8%;
    border : 2px solid #121212;
    border-radius: 5px;
    color : #000;
    font-size: 15px;
}
.btn_detail a, .btn_detail2 a {
        position: relative;
        overflow: hidden;
    }
    .btn_detail a span {
        color : #fff;
        position: relative;
        z-index: 1;
        transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
    }
    .btn_detail2 a span {
        color : #121212;
        position: relative;
        z-index: 1;
        transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
    }
    .btn_detail a::before {
        content: '';;
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 6px;
        transform: translate(-101%, -50%);
        width: 100%;
        height: 45px;
        background-color: #fff;
        transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
    }
    .btn_detail a:hover span {
        color : #121212;
    }
    .btn_detail a:hover::before {
        transform: translate(0, -50%);
    }
    .btn_detail2 a::before {
        content: '';;
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 6px;
        transform: translate(-101%, -50%);
        width: 100%;
        height: 45px;
        background-color: #121212;
        transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
    }
    .btn_detail2 a:hover span {
        color : #fff;
    }
    .btn_detail2 a:hover::before {
        transform: translate(0, -50%);
    }
.footer {
    background-color: #282828;
    text-align: center;
}
.footer .f_menu ul {
    padding : 19px 0;
    border-bottom: solid 1px #464646;
}
.footer .f_menu ul li {
    display: inline-block;
    margin : 3px 19px;
}
.footer .f_menu ul li a {
    color : rgba(255,255,255,0.67);
    font-size: 13px;
}
.footer .f_menu ul .point a {
    color : rgba(255,255,255, 0.9);
}
.footer .f_logo {
    margin: 22px auto;
    width: 262px;
}
.footer .f_logo img {
    width: 100%;
}
.footer .info {
    width: 90%;
    margin : auto;
    color : rgba(255,255,255,0.65);
    font-size: 12px;
    margin-bottom: 10px;
}
.footer .info span {
    padding-right: 5px;
}
.footer .info span::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: rgba(255,255,255,0.6);
    margin-left: 5px;
    margin-top: 6px;
    vertical-align: top;
}
.footer .copyright {
    color : rgba(255,255,255,0.54);
    font-size: 11px;
    
    padding-bottom: 23px;
    
}
#side {
    position: fixed;
    top : 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index : 800;
    background-color: #fff;
    overflow-y: scroll;
}
.s_login {
    height: 64px;
    background-color: #55565a;
}
.s_login a{
    display: inline-block;
    padding-left: 45px;
    line-height: 64px;
    color : #fff;
    font-size: 14px;
    background-image: url(../img/login.png);
    background-repeat: no-repeat;
    background-size: 22px auto;
    background-position: 15px center;
}
.s_logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding : 15px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}
.s_logo_img {
    width: 80px;
    height: auto;
}
.s_logo_img img {
    width: 100%;
    height: auto;
}
.s_gnb .d1 {
    border-bottom: 1px solid #ccc;
}
.s_gnb .d1 .m1 {
    display: block;
    padding : 15px;
    font-size: 17px;
    font-weight: 500;
    color : #55565a;
    background-image: url(../img/arr_d01.png);
    background-repeat: no-repeat;
    background-size: 14px auto;
    background-position: right 15px center;
}
.s_gnb .d1 .m1.on {
    background-image: url(../img/arr_u03.png);
    color : #ca113a;
}
.s_gnb .d1 .sub ul {
    border-top: 1px solid #ddd;
    padding : 10px 15px;
}
.s_gnb .d1 .sub ul a {
    display: block;
    padding : 5px 0;
    font-size: 14px;
    color : #444;
}
.s_gnb .d1 .sub ul a:hover {
    color : #ca113a;
}
.s_close {
    position: absolute;
    top: 0;
    right: 0;
}
.s_close a {
    display: block;
    width: 64px;
    height: 64px;
    text-indent: -908798798px;
    background-image: url(../img/close2.png);
    background-size: 24px auto;
    background-repeat: no-repeat;
    background-position: center;
}